<footer class="footer">
    <div class="full-logo"></div>
    <div class="footer-link">
        <ul class="footer-link__ul">
            <li>
                <span>Empresa</span>
            </li>
            <li>
                <a class="footer-link__a" href="#">Acerca de nosotros</a>
            </li>
            <li>
                <a class="footer-link__a" href="#">Centro de ayuda</a>
            </li>
            <li>
                <a class="footer-link__a" href="#">Solicitud de funcionalidad</a>
            </li>
        </ul>
        <ul class="footer-link__ul">
            <li>
                <span>Sitio web</span>
            </li>
            <li>
                <a class="footer-link__a" href="#">Términos y condiciones</a>
            </li>
            <li>
                <a class="footer-link__a" href="#">Política de privacidad</a>
            </li>
            <li>
                <a class="footer-link__a" href="#">Mapa del sitio</a>
            </li>
        </ul>
    </div>
    <span class="footer-copy">
        ©2023 El buen conejo. Todos los derechos reservados
    </span>
</footer>