{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'layouts/header.html' %}
<main>
   <form  class="form-login" method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <div>
       <div class="form-login__header">
         <h4>Inicia sesión en El buen conejo</h4>
         <p>¿Aún no tienes cuenta? <a class="link__a" href="register">Regístrate ahora </a></p>
         {% if error != '' %}
           <p>{{error}}</p>
         {% endif %}
      </div>

           <div class="form-register__first-name">
         <label for="email_username">
            <h6>Raza</h6>
         </label>
         {{ form.breed }}
      </div>
      <div class="form-register__first-name">
        <label for="email_username">
           <h6>Sexo</h6>
        </label>
        {{ form.sex }}
      </div>
      <div class="form-register__first-name">
        <label for="email_username">
          <h6>Etiqueta</h6>
        </label>
        {{ form.rabbit_tag }}
      </div>
      <div class="form-register__first-name">
        <label for="email_username">
          <h6>Fecha de nacimiento</h6>
        </label>
        {{ form.birth_date }}
      </div>

      <div class="form-register__first-name">
        <label for="email_username">
          <h6>Peso (kg)</h6>
        </label>
        {{ form.weight }}
      </div>
      <div class="form-register__first-name">
        <label for="email_username">
          <h6>Agregar foto</h6>
        </label>
        {{ form.rabbit_photo }}
      </div>
      <div class="form-register__first-name">
        <label for="email_username">
          <h6>Estatus</h6>
        </label>
        {{ form.rabbit_status }}
      </div>

      <div class="form-register__first-name">
        <label for="email_username">
          <h6>Observaciones</h6>
        </label>
        {{ form.observation }}
      </div>

      <div class="form-register__first-name">
        <label for="email_username">
          <h6>Jaulas</h6>
        </label>
        {{ form.cage }}
      </div>

      <input type="submit">
    </div>
    </form>
</main>
<script src="{% static 'js/form/form_login.js' %}" type="module"></script>    
{% include 'layouts/footer.html' %}
{% endblock %}