{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'layouts/header.html' %}
<main>
   <form  class="form-add-rabbit" method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <div>
       <div class="form-rabbit__header">
         <h4>Registro sementales</h4>
         {% if error != '' %}
           <p>{{error}}</p>
         {% endif %}
      </div>

      <div class="form-rabbit__input">
         <label for="buck_name">
            <h6>Nombre</h6>
         </label>
         {{ form.buck_name }}
      </div>
      <div class="form-rabbit__input">
        <label for="buck_rabbit">
           <h6>Semental</h6>
        </label>
        {{ form.buck_rabbit }}
      </div>
      <div class="form-rabbit__input">
        <label for="selection_date">
          <h6>Fecha de selección</h6>
        </label>
        {{ form.selection_date }}
      </div>
      <input type="submit">
    </div>
    </form>
</main>
<script src="{% static 'js/form/form_login.js' %}" type="module"></script>    
{% include 'layouts/footer.html' %}
{% endblock %}