
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'layouts/header.html' %}
<main>
    <article class="home-art">
        <h1>La herramienta para controlar su granja</h1>
        <p>Lleva un registro completo de tus conejos y gestiona tu granja de manera eficiente</p>
        <button class="btn btn-sm btn-secundary-solid">Únete a El buen conejo</button>
        <div class="slider">
            <div class="infocar__slider">
                <div>gif</div>
                <div>
                    <h3 class="infocar__title" >Comunidad</h3>
                    <p>Conecta con otros productores, comparte tus experiencias y aprende de los demás</p>
                </div>
                <span>
                    Ver comunidad <div class="icon"></div>
                </span>
            </div>
            <div class="infocar__slider">
                    <div>gif</div>
                    <div>
                        <h3 class="infocar__title">Comunidad</h3>
                        <p>Conecta con otros productores, comparte tus experiencias y aprende de los demás</p>
                    </div>
                    <span>
                       Ver comunidad <div class="icon"></div>
                    </span>
            </div>
            <div class="infocar__slider">
                    <div>gif</div>
                    <div>
                        <h3 class="infocar__title">Comunidad</h3>
                        <p>Conecta con otros productores, comparte tus experiencias y aprende de los demás</p>
                    </div>
                    <span>
                       Ver comunidad <div class="icon"></div>
                    </span>
            </div>
        </div>
    </article>
    <article class="allies-art">
      <div>
        <h2>
            El aliado perfecto para el cuidado de tus conejos
          </h2>
          <p>
            El buen conejo es una solución práctica para agricultores, granjeros y familias
          </p>
      </div>
      <div>
        <div>
            <div class="img"></div>
            <h3>Ahorrar tiempo</h3>
            <p>Solo tienes que concentrarte en lo que mejor sabes hacer y El buen conejo hace el resto</p>
        </div>
        <div>
            <div class="img"></div>
            <h3>Ahorrar tiempo</h3>
            <p>Solo tienes que concentrarte en lo que mejor sabes hacer y El buen conejo hace el resto</p>
        </div>
        <div>
            <div class="img"></div>
            <h3>Ahorrar tiempo</h3>
            <p>Solo tienes que concentrarte en lo que mejor sabes hacer y El buen conejo hace el resto</p>
        </div>
      </div>
    </article>
    <article class="product-art">
      <h2>Comienza a ser productor</h2>
      <div>
        <div>
            <div class="img-numero"></div>
            <h3>Crea tu cuenta</h3>
          </div>
          <p>Necesitas registrarte como productor para automatizar la gestión de tu granja</p>
      </div>
      <div>
        <div>
            <div class="img-numero"></div>
            <h3>Crea tu cuenta</h3>
          </div>
          <p>Necesitas registrarte como productor para automatizar la gestión de tu granja</p>
      </div>
      <div>
        <div>
            <div class="img-numero"></div>
            <h3>Crea tu cuenta</h3>
          </div>
          <p>Necesitas registrarte como productor para automatizar la gestión de tu granja</p>
      </div>
      <button  class="btn btn-sm btn-secundary-solid">Abre tu cuenta ahora</button>
    </article>
</main>
{% include 'layouts/footer.html' %}
{% endblock %}