
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'layouts/header.html' %}
<main>
   <form  class="form-login" action="#" method="post">
      <div class="form-login__header">
         <h4>Inicia sesión en El buen conejo</h4>
         <p>¿Aún no tienes cuenta? <a class="link__a" href="register">Regístrate ahora </a></p>
      </div>
      <div class="form-login__input">
         <label for="email">
            <h6>Email</h6>
         </label>
         <input type="email" name="email" id="email" placeholder="name@example.com" required>
      </div>
      <div class="form-login__input" >
         <label for="password">
            <h6>Contraseña</h6>
         </label>
         <div class="password-container">
            <input type="password" name="password" id="password" placeholder="Introduce tu contraseña" required>
            <div class="eye-password-none" id="eye-password"></div>
         </div> 
      </div>
      <button class="btn btn-sm btn-secundary-solid">Iniciar sesión</button>
      <a class="link__a" href="#">¿Olvidaste la contraseña?</a>
   </form>
</main>
<script src="{% static 'js/form/form_login.js' %}" type="module"></script>    
{% include 'layouts/footer.html' %}
{% endblock %}