
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'layouts/header.html' %}
<main>
    <form  class="form-register" action="#" method="post">
        <div class="form-register__header">
           <h4>Comienza a ser productor</h4>
           <span>Primero, crea tu cuenta en El buen conejo</span> <br>
           <span>¿Ya tienes cuenta?<a class="link__a" href="Register">Iniciá sesión</a></span>
        </div>
        <div class="forn-register__name-last-name">
            <div class="form-register__input">
                <label for="name">
                   <h6>Nombre</h6>
                </label>
                <input type="text" name="name" id="name" placeholder="Nombre" required>
             </div>
             <div class="form-register__input">
                <label for="last-name">
                    <h6>Apellido</h6>
                </label>
                <input type="text" name="last_name" id="last_name" placeholder="Apellido" required>
             </div>

        </div>
        <div class="form-register__input">
           <label for="email">
              <h6>Email</h6>
           </label>
           <input type="email" name="email" id="email" placeholder="name@example.com" required>
        </div>
        <div class="form-register__input" >
           <label for="password">
              <h6>Contraseña</h6>
           </label>
           <div class="password-container">
            <input type="password" name="password" id="password" placeholder="Introduce tu contraseña" required>
            <div class="eye-password-none" id="eye-password"></div>
          </div> 
           <div class="font-register__password-info">
            <span>La contraseña debe contener:</span>
            <ul>
               <li>Una mayúscula (A-Z)</li>
               <li>Un número (0-9) </li>
               <li>Una minúscula (a-z)</li>
            </ul> 
           </div>
        </div>
        <div class="form-register__input" >
            <label for="contry">
               <h6>Selecciona tu Estado</h6>
            </label>
            <select name="contry" id="contry">
                <option value="Distrito Federal">Distrito Federal</option>
            </select>
         </div>
        <button class="btn btn-sm btn-secundary-solid">Crear cuenta</button>
     </form>
     <script src="{% static 'js/form/form_register.js' %}" type="module" ></script>  
</main>
{% include 'layouts/footer.html' %}
{% endblock %}