
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'layouts/header.html' %}
<main>
    <form  class="form-register" action="#" method="post">
      {% csrf_token %}
        <div class="form-register__header">
           <h4>Comienza a ser productor</h4>
           <span>Primero, crea tu cuenta en El buen conejo</span> <br>
           <span>¿Ya tienes cuenta?<a class="link__a" href="Register">Iniciá sesión</a></span>
           {% if error != '' %}
           <p>{{error}}</p>
           {% endif %}
        </div>
        <div class="forn-register__name-last-name">
            <div class="form-register__input">
                <label for="name">
                   <h6>Nombre</h6>
                </label>
                {{form.username}} 
             </div>
             <div class="form-register__input">
                <label for="last-name">
                    <h6>Apellido</h6>
                </label>
                <input type="text" name="last_name" id="last_name" placeholder="Apellido" required>
             </div>

        </div>
        <div class="form-register__input">
           <label for="email">
              <h6>Email</h6>
           </label>
           {{form.email}}
        </div>
        <div class="form-register__input" >
           <label for="password">
              <h6>Contraseña</h6>
           </label>
           <div class="password-container">
            {{form.password}}
            <div class="eye-password-none" id="eye-password"></div>
          </div> 
           <div class="font-register__password-info">
            <span>La contraseña debe contener:</span>
            <ul>
               <li>
                  <span id="password-upper" >Una mayúscula (A-Z)</span>
               </li>
               <li>
                  <span id="password-number" >Un número (0-9)</span> 
               </li>
               <li>
                  <span id="password-lower" >Una minúscula (a-z)</span>
               </li>
            </ul> 
           </div>
        </div>
        <div class="form-register__input" >
            <label for="contry">
               <h6>Selecciona tu Estado</h6>
            </label>
            <select name="contry" id="contry">
                <option value="Distrito Federal">Distrito Federal</option>
            </select>
         </div>
        <button class="btn btn-sm btn-secundary-solid">Crear cuenta</button>
     </form>
     <p class="register-info">
      Al continuar, usted reconoce que ha leído, entendido y está de acuerdo con las Condiciones del servicio y la Política de privacidad de El buen conejo.
     </p>
     <script src="{% static 'js/form/form_register.js' %}" type="module" ></script>  
</main>
{% include 'layouts/footer.html' %}
{% endblock %}