{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'layouts/header.html' %}
<main>
    <form  method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="form-register__header">
           <h4>Crear Jaula</h4>
           <span>Primero crea una jaula para luego agregar sus conejos</span> <br>
           {% if error != '' %}
              <p>{{ error }}</p>
           {% endif %}
        </div>
        <div class="form-register__first-name">
           <label for="cage-title">
              <h6>Título</h6>
           </label>
           {{ form.cage_title }} 
        </div>
        <div class="form-register__first-name">
          <label for="batch-number">
             <h6>Número de lote</h6>
          </label>
          {{ form.batch_number }} 
       </div>

       <div class="form-register__first-name">
        <label for="is-public">
           <h6>¿Jaula pública?</h6>
        </label>
        {{ form.is_public }} 
       </div>
       <div class="form-register__first-name">
        <label for="photo">
           <h6>Foto de la jaula</h6>
        </label>
        {{ form.cage_photo }} 
       </div>

       <input type="submit">
      </form>
    <script src="{% static 'js/form/form_register.js' %}" type="module" ></script>  
</main>
{% include 'layouts/footer.html' %}
{% endblock %}