{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'layouts/header.html' %}
<main>
  {% for item in cages %}
      <div>
              {{ item.cage_title}}
              {% if item.is_public == True %}
                 <p> Jaula pública </p>
              {% else %}
                <p> Jaula no pública </p>
              {% endif %}  
      </div>
  {% endfor %}
    <script src="{% static 'js/form/form_register.js' %}" type="module" ></script>  
</main>
{% include 'layouts/footer.html' %}
{% endblock %}