{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'layouts/header.html' with path_rute="details" %}
<main>
    <article class="full-rabbit">
        <div class="container-detail-rabbit">
            <figure>
                <img src={% static 'img/slide-home/raza3.png' %}  alt="">
                <figcaption>
                    <ul>
                        <li>Titulo</li>
                        <li>$000</li>
                        <li class="flex"><span class="icon-geo"></span> {Ubicacion}</li>
                    </ul>
                </figcaption>
            </figure>
        </div>
    </article>
    <article class="details-rabbit">
        <div>
            <h6>Datos del conejo:</h6>
            <table>
                <!--
                    <tr> <th colspan="2"><h6>Datos del conejo:</h6> </th> <th></th></tr>
                --> 
                <tr>
                    <th class="th-one">Estado</th>
                    <th>Vivo</th>
                </tr>
                <tr>
                    <th class="th-two">Peso</th>
                    <th>8Kg</th>
                </tr>
                <tr>
                    <th class="th-one" >Raza</th>
                    <th>California</th>
                </tr>
                <tr>
                    <th class="th-two">Edad</th>
                    <th>4meses</th>
                </tr>
                <tr>
                    <th class="th-one">Color</th>
                    <th>Blanco</th>
                </tr>
                <tr>
                    <th class="th-two">Genotipo</th>
                    <th>-</th>
                </tr>
                <tr>
                    <th class="th-one">Crías vivas</th>
                    <th>4</th>
                </tr>
                <tr>
                    <th class="th-two">Total de crías</th>
                    <th>14</th>
                </tr>
            </table>
        </div>
    </article>
    <article class="details-productor">
        <h5>Productor:</h5>
        <div class="details-productor__header">
            <!-- <img src="" alt=""> -->
            <div class="ejemplo-img"></div>
            <h5 >John Doe</h5>
            <button class="btn btn-lg btn-secundary-border-white">Ver perfil</button>
        </div>
        <div>
            <div class="card-detail-rabbit">
                <div class="card-detail-rabbit__cast">
                    <h4 class="card-detail-rabbit__title-cost">$999</h4>
                </div>
                <div class="card-detail-rabbit__inf">
                    <div class="inf-card-item-detail">
                        <h6>Macho</h6>
                        <span>Sexo</span>
                    </div>
                    <div class="inf-card-item-detail">
                        <h6>0 kg</h6>
                        <span>Peso</span>
                    </div>
                    <div class="inf-card-item-detail">
                        <h6>8 meses</h6>
                        <span>Edad</span>
                    </div>
                </div>
                <div class="card-detail-rabbit__btn ">
                    <button class="btn btn-ls btn-secundary-solid">Contactar al productor</button>
                </div>
            </div>
        </div>
    </article>
    <article class="slider-rabbit container-home-slider-rabbit-breeds container-detail-rabbit">
            <div class="container-slider__title">
              <h6>Buscar por razas</h6>
              <div> 
                  <button class="btn btn-primary-border-white btn-xs"><<</button>
                  <button class="btn btn-primary-border-white btn-xs">>></button>
              </div>
            </div>
            <div class="slider slider-detail">
              <ul class="slides">
                 <li class="slide" id="slide1">
                    <a href="makeDetails">
                        <figure>
                            <img src={% static 'img/slide-home/raza3.png' %}  alt="">
                            <figcaption>
                                <ul>
                                    <li>Titulo</li>
                                    <li>$000</li>
                                    <li class="flex"><div class="icon-geo"></div> {Ubicacion}</li>
                                </ul>
                            </figcaption>
                        </figure>
                    </a>
                 </li>
                 <li class="slide" id="slide2">
                    <a href="makeDetails">
                        <figure>
                            <img src={% static 'img/slide-home/raza3.png' %}  alt="">
                            <figcaption>
                                <ul>
                                    <li>Titulo</li>
                                    <li>$000</li>
                                    <li class="flex"><div class="icon-geo"></div> {Ubicacion}</li>
                                </ul>
                            </figcaption>
                        </figure>
                    </a>
                 </li>
                 <li class="slide" id="slide3">
                    <a href="makeDetails">
                        <figure>
                            <img src={% static 'img/slide-home/raza3.png' %}  alt="">
                            <figcaption>
                                <ul>
                                    <li>Titulo</li>
                                    <li>$000</li>
                                    <li class="flex"><div class="icon-geo"></div> {Ubicacion}</li>
                                </ul>
                            </figcaption>
                        </figure>
                    </a>
                 </li>
                 <li class="slide" id="slide4">
                    <a href="makeDetails">
                        <figure>
                            <img src={% static 'img/slide-home/raza3.png' %}  alt="">
                            <figcaption>
                                <ul>
                                    <li>Titulo</li>
                                    <li>$000</li>
                                    <li class="flex"><div class="icon-geo"></div> {Ubicacion}</li>
                                </ul>
                            </figcaption>
                        </figure>
                    </a>
                 </li>
                 <li class="slide" id="slide5">
                    <a href="makeDetails">
                        <figure>
                            <img src={% static 'img/slide-home/raza3.png' %}  alt="">
                            <figcaption>
                                <ul>
                                    <li>Titulo</li>
                                    <li>$000</li>
                                    <li class="flex"><div class="icon-geo"></div> {Ubicacion}</li>
                                </ul>
                            </figcaption>
                        </figure>
                    </a>
                 </li>
              </ul>
            </div>
    </article>
</main>
{% include 'layouts/footer.html' %}
{% endblock %}