.navbar{
    height: 64px;
    background-color: var(--nutural-100);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container-menu{
    display: flex;
    gap: 16px;
    width: 80px;
    height: auto;
}
.menu{
    margin: 0px;
    padding: 0px;
    display: none;
}

.menu-mobile{
    height: 32px;
    width: 32px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}
.menu-mobile__icon{
    height: 32px;
    width: 32px;
    background: url(./../../img/icons/icons/general/List.svg);
    background-repeat: no-repeat;
    background-size: cover;
}