<nav class="navbar">
    <div class="container-menu">
        <div class="menu-mobile">
            <div class="menu-mobile__icon"></div>
        </div>
        <div class="logo"></div>
    </div>
    <ul class="menu">
        <li>
            Comunidad
        </li>
        <li>
            Mercado
        </li>
        <li>
            Eventos y recurso
        </li>
    </ul>
    <div class="button-login">
        <button class="btn btn-xs btn-primary-none">
            Iniciar sesión
        </button>
        <button class="btn btn-sm btn-primary-solid">
            Crear cuenta
        </button>
    </div>
</nav>