<nav class="navbar">
    <div class="container-menu">
        <div class="menu-mobile">
            <div class="menu-mobile__icon"></div>
        </div>
        <a href="home" class="link__a-without-css">
            <div class="logo"></div>
        </a>
    </div>
    <ul class="menu">
        <li>
            Comunidad
        </li>
        <li>
            Mercado
        </li>
        <li>
            Eventos y recurso
        </li>
    </ul>
    <div class="button-login">
        <a href="login" class="link__a-without-css">
            <button class="btn btn-xs btn-primary-none">
                Iniciar sesión
            </button>
        </a>
        <a href="register" class="link__a-without-css">
            <button class="btn btn-sm btn-primary-solid">
                Crear cuenta
            </button>
        </a>
    </div>
</nav>